
.icon-doc-text:before { content: '\e800'; } /* '' */
.icon-feather:before { content: '\e801'; } /* '' */
.icon-looped-square-interest:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-angellist:before { content: '\f209'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */